{% extends "plantilla.html" %}
{% block titulo %} Agregar nuevo libro {% endblock %}


{% block contenido %}
{% if user.is_authenticated %}
 <div class="card"> <!-- bs5-card-head-foot -->
     <div class="card-header">
         Crear un libro
     </div>
     <div class="card-body">
         <h4 class="card-title">Datos de libro</h4>
         
     {% include 'pagina/form.html' %}
     </div>
     <div class="card-footer text-muted">
         
     </div>
 </div>
{%else%}
<html>
<head>
<title>Redirigir al navegador a otra URL</title>
<!--###############Tener en cuenta cambiar la URL por la necesaria segun el escenario que se necesite###################-->
<META HTTP-EQUIV="REFRESH" CONTENT="5;URL=http://192.168.10.136/libros">
</head>
<body>
You don't have permissions to add new book, please log in...
</body>
</html>


{%endif%}
{% endblock %}  